<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Favourites</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br><br>
  {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
  {% endif %}
   <br><br>
  <a href="/home" class="btn btn-primary">All Photos</a>
  <h2>My Favourites</h2>       
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rover Name</th>
        <th>Camera Name</th>
        <th>Earth Date</th>
        <th>Image Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      {% for favourite in favourites %}
        <tr>
            <td>{{ favourite.getApiId() }}</td>
            <td>{{ favourite.getRoverName() }}</td>
            <td>{{ favourite.getCameraName() }}</td>
            <td>{{ favourite.getEarthDate() }}</td>
            <td><img src="{{ asset(favourite.getImage()) }}" width="100px;"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
