<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br><br>
  {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
  {% endif %}
   <br><br>
  <a href="/my_favorites" class="btn btn-primary">My Favourites</a>
  <h2>All Photos from API</h2>  

  {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
  {% endfor %}      
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Rover Name</th>
        <th>Camera Name</th>
        <th>Earth Date</th>
        <th>Image Thumbnail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for photo in url["photos"] %}
        <tr>
            <td>{{ photo.id }}</td>
            <td>{{ photo.rover.name }}</td>
            <td>{{ photo.camera.name }}</td>
            <td>{{ photo.earth_date }}</td>
            <td><img src="{{ photo.img_src }}" width="100px;"></td>
            <td>
              {% for favourite in favourites %}
                {% if favourite.getApiId() == photo.id %}
                  <i><small>Already in the favourite list</small></i><br>
                {% endif %}
              {% endfor %}
              <a href="/add_favorite?id={{ photo.id }}
              &rover_name={{ photo.rover.name }}
              &camera_name={{ photo.camera.name }}
              &earth_date={{ photo.earth_date }}&image={{ photo.img_src }}">Add to Favorite</a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
