{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}, 'label_attr': {'class': 'sr-only'}}) }}
        <img class="mb-4" src="https://freedesignfile.com/upload/2017/07/Teddy-bear-with-heart-frame-cartoon-vector-04.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}, 'label_attr': {'class': 'sr-only'}}) }}
        {{ form_row(registrationForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}, 'label_attr': {'class': 'sr-only'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': {'class': 'form-control', 'placeholder': 'Password'},
            'label_attr': {'class': 'sr-only'}
        }) }}
        <div class="checkbox mb-3">
            {{ form_row(registrationForm.agreeTerms, {
                label: '.'}) }} Agree terms
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
        <a href="/login" class="btn btn-lg btn-success btn-block">Login</a>
    {{ form_end(registrationForm) }}
{% endblock %}
